:root{
    --negro: #000;
    --blanco: #fff; 
    
    --verde: #42a245; 
    --gris-claro: #f1f1f1; 
    --gris-oscuro: #a9a9a9;
    --rojo: #d70c0c;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-family: "Poppins", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

li,a{
    text-decoration: none;
}

a{
    color:  var(--negro);
    background-color: var(--verde);
}

.w-mx-500{
    max-width: 500px;
}

textarea{
    resize: none;
}

/* BOTON */
.boton{
    background-color: var(--verde);
    color: white;
    transition: all .5s ease;

    &:hover{
        background-color:var(--verde);
        transform:translateY(-5px);
    }

}

/* NAVEGACION */

.navegacion-principal{
    background-color: var(--verde);
}

.navegacion-principal a{
   color: #fff;
}


/* MAIN */

.hero-img{
    background-image: url(/assets/img/src/img/Hero/heroImg.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}

.hero-contacto{
    background-image: url(/assets/img/src/img/Hero/contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-bg{
    background-color: rgba(0 0 0 / 70%);
    padding: 20px 0;
}

/* Tarjetas */

.cancha-tarjeta{
    width: 100%;
    height: auto;
    background-color: var(--verde);
}

.cancha-tarjeta img{
    height: 300px;
    width: 100%; 
    object-fit: cover;
}

/* Contacto */

.formulario-contacto legend{
    background-color: var(--verde);
    width: auto;
}

.formulario-contacto fieldset{
    background-color: var(--gris-oscuro);
}

/* Footer */
.footer{
    background-color: var(--verde);
}

/* Informacion de canchas */



.cancha-foto img{
    width: 100%;
    height: auto;
}

/* Galeria */

.galeria-grid{
    display: grid;
    place-content: center;
    gap: 10px;
}

.galeria-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Tablet */
@media (min-width: 720px) {
    .hero-img{
        height: 400px;
    }

    .navegacion-items a{
        border-bottom: 3px solid transparent;
        transition: all .55s ease;
    
        &:hover{
            border-bottom: 3px solid #fff;
        }
    }

    .galeria-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .img1{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .img2{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .img3{
        grid-column: 3/4;
        grid-row: 1/3;

    }

    .img4{
        grid-column: 1/2;
        grid-row: 1/3;
    }
}

/* Celulares */
@media (min-width: 480px) {
    .cancha-tarjeta{
        width: 350px;
    }
}

/* Error campo vacio */

.error{
    background-color: var(--rojo);
    color: var(--blanco);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.enviado{
    background-color: var(--verde);
    color: var(--blanco);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 25px;
}

/* Spinner de Internet*/

/* Centrar el spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  /* Estilo del spinner */
  .spinner {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: 5px solid #ccc; /* Borde gris claro */
    border-top: 5px solid #007bff; /* Borde azul */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animación de giro */
  }

  /* Animación */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* OPCIONES */

.opciones{
    align-items: center;
}
.opciones label{
    width: 150px;
}

.opciones select{
    align-self: center;
}

.borde-resultado{
    border-bottom: 1px solid var(--gris-oscuro);
    margin-bottom: 30px;
}

.resultado-busqueda{
    background-color: var(--blanco);

    &:hover{
        background-color: var(--gris-claro);
    }
}

/* Boton WhatsApp */

.boton_whatsapp{
    position: fixed;
    background-color: #15894d;
    border: 4px solid var(--blanco);
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 5px;
    animation: movimiento_boton 8s ease-in-out 4s infinite normal both;

    &:hover{
        animation-play-state: paused;
    }
}

@media (min-width: 720px) {
    .boton_whatsapp{
        width: 70px;
        height: 70px;
    }
}

.boton_whatsapp_icon{
    width: 100%;
    height: auto;
}

@keyframes movimiento_boton {
    0%,50%{
        transform:translateY(0);
    }

    25%{
        transform: translateY(-25px);
    }
}